[Desktop Entry]
Version=1.0
Name=Reddit
Comment=Reddit
Exec=omarchy-launch-webapp https://reddit.com
Terminal=false
Type=Application
Icon=/home/rodney/.local/share/applications/icons/Reddit.png
StartupNotify=true
